*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-color: black; */
    color: black;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.flex{
    display: flex;
}

/* header */
.header{
    padding: 30px 80px 30px 60px;
}
#Home{
    margin: 9px 20px;
}
.nav-link{
    margin: 0 13px;
}
.nav-item .btn{
    margin-left: 20px;
}

/* end of header */

/* page header */
.page-header{
    margin: 120px 0;
}
.content{
    text-align: center;
    align-items: center;
}
.content img{
    width: 260px;
}

/* end of page header */

/* skills  */
.par{
    position: relative;
    background-color: rgb(0, 0, 0);
}
.curved-border1{
    /* height: 100px; */
    width: 100%;
    border-radius: 100%/0 0 70px 70px;
    background-color:  rgba(213, 233, 252, 0);
    }
    .curved-border2{
        width: 100%;
    border-radius: 100%/0 0 70px 70px;
    background-color:  rgb(255, 255, 255);
        }
 .skills{
    height: 400px;
}
.skills i{
    width: 4.5rem;
    height: 4.5rem;
    /* background-color: #006eff; */
    border-radius: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

/* end of skills */

/* gallery */
.gallery .card{
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#0866f3;
  }
  
 .gallery .card:hover .overlay {
    opacity: 1;
  }
  
  .text1 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
/* .img1 img{
  width: 426px;
  height: 319px;
}
.img2 img{
  width: 426px;
  height: 533px;
}
.img3 img{
  width: 426px;
  height: 426px;
} */
/* end of gallery */
.clip{
    width: 100%;
    margin: none;
    height: 100px;
    background-color: rgb(16, 26, 39);
}
.curved{
    width: 100%;
    background-color: rgb(227, 242, 255);
    clip-path: ellipse(60% 100% at 50% -54%);
    height: 200px;

}

/* contact page  */
.contact{
    background-color:rgb(227, 242, 255);
}
.contact i{
    width: 4.5rem;
    height: 4.5rem;
    /* background-color: #006eff; */
    border-radius: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.contact .container{
    padding: 70px;
}
/* end of contact  */

/* footer */
.footer{
    background-color: rgb(16, 26, 39);
    line-height: 80%;

}
.footer h6{
    margin:10px 20px ;
}
.footer p{
    font-size: 16px;
}
.footer i{
    margin: 2px;
}
.footer hr{
    width: 95%;
    margin: 50px auto; 
    border: 0.25px solid rgba(255, 255, 255, 0.219);
    border-radius: 2px;
}
.footer .flex{
    justify-content: space-around;
    flex-wrap: wrap;
}
/* end of footer */